head,body{
  overflow: auto;
}
.taskInput,#editModeText {
  padding: 8px;
  width: 250px;
}

.buttonFamily{
  background-color:#364ce6;
  color:white;
  border:none;
  height:40px;
  width:80px;
  border-radius:10px;
}

.saveButton{
  border:none;
  height:30px;
  width:60px;
  border-radius:10px;
  margin-right: 40px;
}

.lightboxButtons{
  position: absolute;
  margin-left: 150px;
}
span:focus {
    outline: none;
    border: 0;
 }

.cancelButton{
  border:none;
  height:30px;
  width:60px;
  border-radius:10px;
}
.md-datepicker-input-container {
  width: 30px;
  height: 20px;
}
.md-datepicker-input-container[placeholder]{
  padding:10px;
}
.taskInput input[placeholder] {
  font-size: 20px;
}

.mainHeader h4{
  text-align: center;
  color: red;
  font-size: 20px;
}

.mainHeader button{
  margin: 15px;
  padding: 5px;
  width: 100px;
}

.addTasksWithTime{
  display:block;
  text-align: center;
}

md-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  margin-left: 50px;
  background-color:;
}

a:link {
    text-decoration: none;
}


.card:hover{
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.4);
}
/*
.container {
  padding: 0 0 2px 16px;
}*/

.button-class {
  padding-top: 100px;

}
#thumb{
  cursor: pointer;
  color: green;
  float: right;
  padding: 20px;
}
#deleteButton{
  cursor: pointer;
  color: red;
  float: left;
  padding: 20px;

}

.containerButtons {
  padding: 0 0 2px 16px;
}
/*
.button-class i {
  cursor: pointer;
  color: red;
  float: left;
  padding-right: 5px 5px;
}*/


.card h4{
text-align: center;
padding: 10px;
}
/*
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FF5722;
}*/

nav{
	display:inline-block;
	margin:50px auto 35px;
	background-color:#FF5733;
	box-shadow:0 1px 1px #ccc;
	border-radius:2px;
  width: 100%;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

#ui-datepicker-div {font-size:11px;}

nav a{
  float: right;
	display:inline-block;
	padding: 18px 30px;
	color:#fff !important;
	font-weight:bold;
	font-size:16px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

nav a:first-child{
	border-radius: 2px 0 0 2px;
}

nav a:last-child{
	border-radius:0 2px 2px 0;
}

nav.AllTask .AllTask,
nav.PendingTask .PendingTask,
nav.NextDay .NextDay,
nav.CompletedTask .CompletedTask
{
	background-color:#F5E843;
}

/*reveal modal css*/
body{
  margin: 0;
  padding: 0;
}

.reveal-modal{
  min-height: 300px;
}

.ng-modal {
  transition: 0.2s ease-in-out opacity;
}

.ng-modal .reveal-modal {
  display: block;
  visibility: visible;
}

.ng-modal .reveal-modal-bg {
  display: block;
}

.ng-modal.ng-hide-add,
.ng-modal.ng-hide-remove{
  display: block !important;
}

.ng-modal.ng-hide{
  opacity: 0;
}

.reveal-modal{
  transition: 0.2s ease-in-out all;
  transition-delay: 0.2s;
  -webkit-transform: scale(1);
  opacity: 1;
}

.reveal-modal.ng-hide-add,
.reveal-modal.ng-hide-remove{
  display: block !important;
}

.reveal-modal.ng-hide{
  -webkit-transform: scale(0.9);
  opacity: 0;
}

li{
  margin: 20px 0;
}
li:not(:last-child) {
    margin-bottom: 5px;
}
