<html>
  <head>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">

    <style type="text/css">

    </style>
  </head>
  <body ng-app="ToDo"  ng-controller="toDoContoller" ng-strict-di>

  <div class="header-box">
    <h class="main-heading">Add Your Daily Tasks</h>
      <header class="header" >

      <form class="todo-form-submit" ng-keyup="AddTask()">
      <input id="new-todo" class="required" placeholder="Enter Task" type="text" name="taskName" ng-model="taskName">
      <input id="new-todo"  placeholder="Enter Task Description" type="text"name="taskDesc" ng-model="taskDesc">
      </form>
</div>
<div class="tasks-body">
    <table style="clear: left;float: left;">

      <tbody ng-show="type == 'AllTask'">
        <tr ng-repeat="task in allTasks | filter:statusFilter track by $index">
          <td style="width: 10%">
            <input type="checkbox" ng-click="taskCompleted($index)"></td>
          <td style="width: 20%">
            <span data-ng-hide="editMode" contentEditable="false" ng-dblclick="editMode = true; editAppKey(task)" ng-model="editableTask">{{task.taskName}}</span>
            <input id="editModeText" type="text" data-ng-show="editMode" data-ng-model="task.taskName" data-ng-required />
          </td>
          <td style="width: 60%" >
            <span data-ng-hide="editMode" contentEditable="false" ng-dblclick="editMode = true; editAppKey(task)" ng-model="editableDesc">{{task.taskDesc}} </span>
             <input id="editModeText"type="text" data-ng-show="editMode" data-ng-model="task.taskDesc" data-ng-required />
            </td>
          <td style="width: 100px">
            <i class="fa fa-close" style="color: red;cursor: pointer;"1 ng-click="removeTask('pending', $index)"></i>
        </td>
        <td style="width: 150px;">
              <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editAppKey(task)" class="btn btn-default">Edit</button>

            <button type="submit" data-ng-show="editMode" data-ng-click="saveEdit($index);editMode = false" class="btn btn-default">Save</button>

            <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-default">Cancel</button>
</td></td>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="type == 'CompletedTask'">
        <tr ng-repeat="completedTask in completedTasks  | filter:statusFilter track by $index" >
          <td style="width: 10%">
            <input type="checkbox" ng-click="taskNotCompleted($index)"></td>
          <td style="width: 20%;">{{completedTask.taskName}}</td>
          <td style="width: 60%">{{completedTask.taskDesc}}</td>
          <td align="center" style="width: 100px">
            <i class="fa fa-close" style="color: red;cursor: pointer;" ng-click="removeTask('completed', $index)"></i></td>
        </tr>
        <tr ng-if="allTasks.length == 0">
          <td colspan="5" align="center"><b>Add tasks</b></td>
        </tr>
        <tr ng-if="completedTasks.length == 0">
          <td colspan="5" align="center"><b>Completed tasks are Null</b></td>
        </tr>
      </tbody>
    </table>
  </div>
     </header>


      <footer id="footer" ng-show="allTasks" ng-cloak >

        <td id="filters" ng-model="taskType" style="list-style:none">

        <span  id="count"><strong>{{allTasks.length}}</strong>
          <ng-pluralize count="allTasks.length" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
             </span>

            <ul>
              <li>
                <button id="activeTasks-length" data-ng-click="type = 'AllTask'" href="">Active</button>
              </li>
              <li> <button id="completedTasks-length" ng-click="type = 'CompletedTask'" href="">Completed</button>
              </li>

            </ul>
        </footer>

</section>
  </body>
</html>
